[Unit]
Description=Run betting-arbitrage server maintenance every hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
AccuracySec=2min
Persistent=true

[Install]
WantedBy=timers.target
