beautifulsoup4==4.12.3
cryptography==3.4.8
mysql-connector-python
pymysql
pandas
numpy
python-telegram-bot==21.3
pytz==2022.1
Requests==2.32.3
SQLAlchemy==2.0.19
python-dotenv==1.0.1
selenium
undetected-chromedriver
cloudscraper
lxml
python-dateutil
urllib3
requests-toolbelt
tabulate
parsel
playwright
fake-useragent
setuptools
pyyaml
zenrows
playwright
redis
